/* Animated Background */
.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.floating-shape {
  position: absolute;
  background: linear-gradient(135deg, rgba(102, 126, 234, 0.05) 0%, rgba(118, 75, 162, 0.05) 100%);
  border-radius: 50%;
  animation: float 20s infinite ease-in-out;
}

.shape-1 {
  width: 300px;
  height: 300px;
  top: 5%;
  left: 5%;
  animation-delay: 0s;
  animation-duration: 8s;
}

.shape-2 {
  width: 200px;
  height: 200px;
  top: 15%;
  right: 10%;
  animation-delay: 1.5s;
  animation-duration: 6s;
}

.shape-3 {
  width: 150px;
  height: 150px;
  top: 40%;
  left: 15%;
  animation-delay: 3s;
  animation-duration: 10s;
}

.shape-4 {
  width: 250px;
  height: 250px;
  top: 55%;
  right: 20%;
  animation-delay: 4.5s;
  animation-duration: 7s;
}

.shape-5 {
  width: 180px;
  height: 180px;
  top: 70%;
  left: 50%;
  animation-delay: 2s;
  animation-duration: 9s;
}

.shape-6 {
  width: 220px;
  height: 220px;
  top: 25%;
  left: 45%;
  animation-delay: 1s;
  animation-duration: 7.5s;
}

.shape-7 {
  width: 170px;
  height: 170px;
  top: 85%;
  right: 15%;
  animation-delay: 3.5s;
  animation-duration: 8.5s;
}

.shape-8 {
  width: 190px;
  height: 190px;
  bottom: 5%;
  left: 25%;
  animation-delay: 2.5s;
  animation-duration: 6.5s;
}

@keyframes float {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
    opacity: 0.4;
  }
  25% {
    transform: translate(200px, -150px) scale(1.3) rotate(90deg);
    opacity: 0.7;
  }
  50% {
    transform: translate(-180px, 180px) scale(0.7) rotate(180deg);
    opacity: 0.5;
  }
  75% {
    transform: translate(150px, 200px) scale(1.2) rotate(270deg);
    opacity: 0.8;
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(360deg);
    opacity: 0.4;
  }
}

/* Ensure content stays above background */
.about-container {
  position: relative;
  z-index: 1;
}

.page-container {
  position: relative;
  z-index: 1;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .shape-1 { width: 200px; height: 200px; }
  .shape-2 { width: 150px; height: 150px; }
  .shape-3 { width: 100px; height: 100px; }
  .shape-4 { width: 180px; height: 180px; }
  .shape-5 { width: 120px; height: 120px; }
  .shape-6 { width: 140px; height: 140px; }
  .shape-7 { width: 110px; height: 110px; }
  .shape-8 { width: 130px; height: 130px; }
}
